* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}
h1{
  width: 400px;
  margin: auto;

}
.boomwrap{
  max-width: 400px;
  height: 500px;
  border-radius: 15px;
  background-color: #e8e9e9;
  padding: 12px;
}
.boom{
  width: 350px;
  margin: auto;
  
}
.wrap {
  list-style: none;
  box-sizing: border-box;
}
.main-bg {
  height: 300px;
  background-image: url("./img/main.png");
  background-position: center;
  background-size: 50%;
}
.main-ul {
  max-width: 1300px;
  margin: auto;
  justify-content: center;
  list-style: none;
  display: flex;
  justify-content: space-between;
  border: 1px green solid;
}
li {
  margin: 12px;
  font-weight: bold;
}
.listWrap {
  max-width: 1300px;
  margin: auto;
  border: 1px royalblue solid;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.list {
  margin: 12px;
  border: 1px red solid;
  padding: 4px;
  position: relative;
}
.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.2s linear;
}
.img:hover{
  transform: scale(1.1);
}
.imgBox {
  border: 1px palevioletred solid;
  width: 285px;
  height: 300px;
  overflow: hidden;
}
.productBox {
  margin: 8px;
}
.shopname {
  font-size: 12px;
  color: rgb(68, 67, 67);
  margin-bottom: 12px;
}
.detail-wrap {
  display: flex;
  max-width: 1200px;
  margin: auto;
  padding: 4px;
  border: 1px green solid;
}
.detail-img {
  width: 450px;
  border: 1px red solid;
}
.detail-img img {
  width: 100%;
}
.right p {
  font-size: 16px;
}
.right h4 {
  font-size: 28px;
}
.button {
  padding: 18px 48px 18px 48px;
  font-size: 16px;
  font-weight: bold;
}
a.icon{
  border: 3px red solid;
  position: absolute;
  bottom: 125px;
  right:10px;
  font-size: 25px;
}
.footerwrap{
  background-color: #f7f8fa;
  height: 150px;
}
.footer{
  max-width: 1300px;
  background-color: #f7f8fa;
  margin: auto;
  border: 1px royalblue solid;
}
