* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}
h1 {
  width: 1300px;
  margin: auto;
  text-align: left;
  padding: 24px 4px;
  border: 1px;
}
.mainlistbut {
  background-color: rgb(240, 239, 239);
    text-decoration: none;
    color: rgb(70, 69, 69);
    padding: 12px 48px;
    display: inline-block;
    position: relative;
    border: 1px solid rgba(0,0,0,0.21);
    border-bottom: 3px solid rgba(0,0,0,0.21);
    border-radius: 20px;
    text-shadow: 0 1px 0 rgba(0,0,0,0.15);
    font-size: 14px;
    font-weight: bolder;
    min-width: 300px;
    cursor: pointer;
}
.mainlistbutbox{
  width: 310px;
  margin: 40px auto;
}
.boomwrap {
  max-width: 400px;
  height: 500px;
  border-radius: 15px;
  background-color: #e8e9e9;
  padding: 12px;
  position: absolute;
  top: 25%;
  left: 25%;
  z-index: 3;
}
.boom {
  width: 350px;
  margin: auto;
  border: 1px blue solid;
  text-align: center;
}

.main-bg {
  height: 300px;
  background-image: url("./img/main.png");
  background-position: center;
  background-size: 50%;
}
.main-ul {
  max-width: 1300px;
  margin: auto;
  justify-content: center;
  list-style: none;
  display: flex;
  justify-content: space-between;
  border: 1px green solid;
}
li {
  margin: 12px;
  font-weight: bold;
}
.productBox {
  margin: 8px;
}
.shopname {
  font-size: 12px;
  color: rgb(68, 67, 67);
  margin-bottom: 12px;
}
a {
  cursor: pointer;
}
a .f-icon {
  border: 3px red solid;
  position: absolute;
  bottom: 125px;
  right: 10px;
  font-size: 25px;
}
a .icon {
  border: 3px red solid;
  position: absolute;
  bottom: 125px;
  right: 10px;
  font-size: 25px;
}
.footerwrap {
  background-color: #f7f8fa;
  height: 150px;
}
.footer {
  max-width: 1300px;
  background-color: #f7f8fa;
  margin: auto;
  border: 1px royalblue solid;
}
span {
  color: rgb(232, 31, 31);
  font-weight: bolder;
  font-size: 18px;
}
div .coupon {
  background-image: url("./img/coupon.jpg");
  margin: auto;
  height: 200px;
  width: 200px;
  background-position: center;
  background-size: 100%;
}
.click {
  background-color: yellow;
}
.none {
  background-color: #f7f8fa;
}

/* PPL Css */
.pplbox {
  max-width: 1300px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}
.ppl1box {
  width: 610px;
  margin: 28px 4px;
}
.ppl1 {
  width: 100%;
  position: relative;
}
.ppl2 {
  width: 100%;
  position: relative;
  height: 300px;
}
/* detail Css*/
.detail-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  min-width: 360px;
  margin: auto;
  padding: 4px;
  border: 1px green solid;
}
.detail-img {
  position: relative;
  width: 500px;
  min-width: 360px;
  height: 500px;
  border: 1px red solid;
  margin: 12px;
}
.detail-img img {
  width: 100%;
  height: 100%;
}
.right {
  padding: 4px;
  width: 500px;
  border: 1px lightcoral solid;
  margin: 12px;
}
.sourceBox {
  width: 100%;
  display: flex;
  font-size: 19px;
  margin-bottom: 12px;
  /* 가운데정렬 */
  align-items: center;
}
.right h4 {
  font-size: 28px;
}
.detail-tap {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
}
.detailbutton {
  padding: 16px 120px;
  border: 1px green solid;
}
.titleBox {
  margin-bottom: 12px;
}
.detailPrice {
  margin: 0;
}
.button-submitA {
  width: 350px;
  border: 1px red solid;
}
.button-submit {
  /* padding: 16px 120px; */
  font-size: 16px;
  font-weight: bold;
  width: 350px;
}
.button-장바 {
  padding: 12px;
  font-size: 16px;
}
.button-찜 {
  padding: 12px;
  font-size: 16px;
}
.buttonBox {
  display: flex;
  justify-content: space-evenly;
}

/*  Recently css*/
.recentlywrap{
  max-width: 1400px;
  margin: 0 auto;
}
.recently{
  overflow: hidden;
  padding: 12px;
  border: 1px greenyellow solid;
  height: 600px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.recentlyImgBox{
  border: 1px goldenrod solid;
  width: 220px;
  height: 200px;
  margin: 4px;
}
.recentlyImg{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.recentlycontent{
  padding: 4px 8px;
}
/* Cart CSs */
.cartlistwrap{
  max-width: 1300px;
  height: 180px;
  border: 1px palevioletred solid;
}
.carttop{
  display: flex;
  /* flex-direction: row; */
}
.cartlist{
  display: flex;
  justify-content: space-between;
  
  
}
.cartimgbox{
  position: relative;
  width: 160px;
  height: 150px;
}
.cartimg{
  width: 100%;
  height: 100%;
}
/* list Css */
.listprice{
  color: rgb(225, 32, 32);
}
.wrap {
  list-style: none;
  box-sizing: border-box;
}
.listWrap {
  max-width: 1300px;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.list {
  margin: 12px;
  padding: 4px;
  position: relative;
  border: 1px rgb(199, 201, 204) solid;
  border-radius:1px;
}
.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.2s linear;
}
.img:hover {
  transform: scale(1.1);
}
.listcontent{
  width: 260px;
white-space: nowrap;
overflow:hidden;
text-overflow: ellipsis;
}
.imgBox {
  width: 285px;
  height: 300px;
  overflow: hidden;
}
span.원{
  color: black;
}