.wrap{
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}
.main-bg{
  height: 300px;
  background-image: url('./img/main.png');
  background-position: center;
}
.main-ul{
  width: 1300px;
  margin: auto;
  justify-content: center;
  list-style: none;
  display: flex;
  justify-content: space-between;
  border: 1px green solid;
  /* flex-direction: row; */
}
li{
  margin: 12px;
  font-weight: bold;
}
.listWrap{
  width: 1300px;
  margin: auto;
  border: 1px royalblue solid;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.list{
  margin: 12px;
  border: 1px red solid;
  padding: 4px;
}
.img{
  max-width: 290px;
}
.shopname{
  font-size: 12px;
  color: rgb(68, 67, 67);
}